DJANGO_DEBUG=FALSE
ALLOWED_HOSTS=192.168.1.171, localhost, http://192.168.1.171:12000/,*
DJANGO_SETTINGS_MODULE='config.settings'
DJANGO_SECRET_KEY="qr5c7PMIKN83NQMoVuA2zQzmDJpfXOAv_ckZZac0n7k9vzApNdgyTonpXFvF7VDd2-w"

# PostgreSQL Database Configuration
DB_NAME=ciemanager
DB_USER=postgres
DB_PASSWORD=UIR2026***
DB_HOST=localhost
DB_PORT=5432
DATABASE_URL=postgresql://postgres:UIR2026***@localhost:5432/ciemanager
DB_CONN_MAX_AGE=60
DB_SSL_REQUIRE=False



# JWT Configuration
JWT_SECRET="TsdWJXtqD4JKdMK0XBCUb9j8-Pk6r2EL8LlHwJts87GWcG5cx_GmWLJ3qVDWAQbI9RxKtFQOzQ22k3ucuHbv4w"
JWT_ALGORITHM="HS256"
JWT_EXP_DELTA_MINUTES=1440

#  Email Configuration
EMAIL_BACKEND = 'django.core.mail.backends.smtp.EmailBackend'
EMAIL_HOST = 'smtp.gmail.com'
EMAIL_PORT = 587
EMAIL_USE_TLS = True
EMAIL_USE_SSL = False
EMAIL_HOST_USER = '42tranzanzan@gmail.com'
EMAIL_HOST_PASSWORD = 'dhjlxrzcbdtosbin'
DEFAULT_FROM_EMAIL = EMAIL_HOST_USER

# Cloudflare R2 Configuration
R2_ACCESS_TOKEN='IM4p5MBqyq2ikk8JsXJgxjXpmxMXNex-PRDSJos1'

# Cloudflare R2 Configuration
AWS_ACCESS_KEY_ID='2dc8cc1d889a5f726bef338661a7283b'
AWS_SECRET_ACCESS_KEY='03101d707dbdd9dc9f979e73e1de455d6a6867c2d5e09ab8316ee41eb417de94'
AWS_STORAGE_BUCKET_NAME='inventors'
AWS_S3_ENDPOINT_URL='https://f418bd21f69ef1260b604e23470bbd7a.r2.cloudflarestorage.com'